<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AcklenAvenue.Data" version="1.3.0.1" targetFramework="net45" />
  <package id="AcklenAvenue.Data.NHibernate" version="1.3.0.1" targetFramework="net45" />
  <package id="Autofac" version="2.6.3.862" targetFramework="net45" />
  <package id="Autofac.Mvc3" version="2.6.3.862" targetFramework="net45" />
  <package id="AutoMapper" version="2.2.1" targetFramework="net40" />
  <package id="Durandal" version="1.2.0" targetFramework="net45" />
  <package id="Durandal.Router" version="1.2.0" targetFramework="net45" />
  <package id="Durandal.StarterKit" version="1.2.0" targetFramework="net45" />
  <package id="Durandal.Transitions" version="1.2.0" targetFramework="net45" />
  <package id="FluentNHibernate" version="1.3.0.733" targetFramework="net45" />
  <package id="FontAwesome" version="3.0.2.3" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="jQuery" version="1.9.1" targetFramework="net45" />
  <package id="jQuery" version="1.6.4" targetFramework="net40" />
  <package id="jquery.datatables" version="1.9.4" targetFramework="net40" />
  <package id="jQuery.Templates" version="0.1" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.8.20.1" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.9.0.1" targetFramework="net45" />
  <package id="Knockout.KoGrid" version="2.1.1" targetFramework="net40" />
  <package id="Knockout.Mapping" version="2.0.3" targetFramework="net40" />
  <package id="knockoutjs" version="2.2.1" targetFramework="net45" />
  <package id="knockoutspa" version="0.2.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="3.0.20105.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Providers.Core" version="1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Providers.LocalDB" version="1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="1.0.20105.408" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="1.0.20105.408" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.5.3" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4000" targetFramework="net45" />  
  <package id="Sammy.js" version="0.7.4" targetFramework="net45" />
  <package id="Twitter.Bootstrap" version="2.3.1" targetFramework="net45" />
  <package id="WebActivator" version="1.5.3" targetFramework="net45" />
  <package id="WebGrease" version="1.1.0" targetFramework="net45" />
</packages>