<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\DatabaseDeploymentTool\packages.config" />
  <repository path="..\src\DatabaseMigratorTool\packages.config" />
  <repository path="..\src\Rainfall.Domain.Specs\packages.config" />
  <repository path="..\src\Rainfall.FluentMigrator\packages.config" />
  <repository path="..\src\Rainfall.Integration\packages.config" />
  <repository path="..\src\Rainfall.WeatherFetcher\packages.config" />
  <repository path="..\src\Rainfall.Web.Specs\packages.config" />
  <repository path="..\src\Rainfall.Web\packages.config" />
</repositories>