body { font-family: arial; font-size: 14px; }
.ko-grid { margin-bottom: 1em; border: 1px solid silver; background-color:White; }
.ko-grid th { text-align:left; background-color: Black; color:White; }
.ko-grid td, th { padding: 0.4em; }
.ko-grid tr:nth-child(odd) { background-color: #DDD; }
.ko-grid-pageLinks {width: 370px; margin-bottom: 1em; }
.ko-grid-pageLinks a { padding: 0.5em; }
.ko-grid-pageLinks a.selected { background-color: Black; color: White; }

li { list-style-type: disc; margin-left: 20px; }

.tableBorder {
    border: 1px solid #000;
}

.tableGrid {
    width: 500px;
}

.trBack {
    background-color: #eee;
}

table {
    border: 1px solid #000;
}
thead tr {
    background-color: #bbb;
}
tbody tr {
    background-color: #eee;
}
tbody tr:nth-child(even) {
    background-color: #ddd;
}