<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AcklenAvenue.Testing.Moq" version="1.0.3.0" targetFramework="net45" />
  <package id="Autofac" version="2.6.3.862" targetFramework="net45" />
  <package id="Autofac.Mvc3" version="2.6.3.862" targetFramework="net45" />
  <package id="AutoMapper" version="2.2.1" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.5.12" targetFramework="net45" />
  <package id="Moq" version="4.0.10827" targetFramework="net45" />
  <package id="NBuilder" version="3.0.1.1" targetFramework="net45" />
  <package id="TypeScanner" version="1.0.1.0" targetFramework="net45" />
</packages>