
﻿<section >
    <br/>
    <b>Temperature: </b> <br/> 
    ﻿Min: <span data-bind="text: MinTemperature"> </span>!
    ﻿Max: <span data-bind="text: MaxTemperature"> </span>!
    ﻿Avg: <span data-bind="text: AvgTemperature"> </span>!
    ﻿<br/>
    ﻿<b>Precipitation: </b> <br/>
    ﻿Avg: <span data-bind="text: AvgPrecipitation"> </span>! 
﻿    <br/>
    <br/>
﻿    <select id="selectLocation" data-bind="options: LocationData, value: SelectedLocation, optionsText: 'Name'" ></select>
﻿    <select id="selectPeriod" data-bind="options: PeriodData, value: SelectedPeriod, optionsText: 'Name'" ></select>
    
﻿    <table id="myGrid" data-bind="dataTable: GridViewModel" />


﻿</section>

