
﻿<section >
﻿    
﻿    <p>Max temperature, <span data-bind="text: MaxTemperature"> </span>!</p>
﻿    <p>Min temperature, <span data-bind="text: MinTemperature"> </span>!</p>
﻿    <p>Avg temperature, <span data-bind="text: AvgTemperature"> </span>!</p>
﻿    <p>Avg precipitation, <span data-bind="text: AvgPrecipitation"> </span>!</p>
    
    <div>
﻿        <select data-bind="options: LocationData, value: SelectedValue, optionsText: 'Name'" ></select>
﻿    </div>
﻿    <div data-bind='simpleGrid: GridViewModel'> </div>
﻿    <div class="modal"></div>﻿

﻿</section>

